@model List<Team>

@{
    ViewData["Title"] = "Home Page";
}


<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Wins</th>
            <th>Losses</th>            
            <th>Draws</th>
            <th>GamesPlayed</th>
            <th>GoalsScored</th>            
            <th>GoalsConceded</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Wins)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Losses)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Draws)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GamesPlayed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GoalsScored)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GoalsConceded)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>